{% extends "base.html" %}
{% block title %}Главная - Own Inc{% endblock %}
{% block content %}
<section class="hero">
    <h1>OWN INC</h1>
    <p class="hero-text">Творческое объединение</p>
    <div class="hero-videos">
        <iframe src="https://vkvideo.ru/video_ext.php?oid=-219800066&id=456239186&hd=2&autoplay=1" width="400" height="225" allow="autoplay; encrypted-media; fullscreen;" frameborder="0"></iframe>
        <iframe src="https://vkvideo.ru/video_ext.php?oid=-219800066&id=456239072&hd=2&autoplay=1" width="400" height="225" allow="autoplay; encrypted-media; fullscreen;" frameborder="0"></iframe>
        <iframe src="https://vkvideo.ru/video_ext.php?oid=-219800066&id=456239019&hd=2&autoplay=1" width="400" height="225" allow="autoplay; encrypted-media; fullscreen;" frameborder="0"></iframe>
    </div>
</section>
{% endblock %}